html, body {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Arial', 'Helvetica', sans-serif;
  background: #71c7dd;
}
*, *:before, *:after {
  box-sizing: border-box;
  font-weight: bold;
}
p {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  text-shadow: 0px 1px 3px #777;
}
a {
  color: #077c78;
  transition: color 0.3s ease-out;
  text-decoration: none;
  text-shadow: none;
}
a:hover, a:focus {
  color: #0ff;
  border: none;
}
.calculator {
  max-width: 320px;
  margin: 0;
}
.display-box {
  background: #444;
  margin: 0 0 5px 0;
  width: 100%;
  height: 100%;
  max-width: 330px;
  min-height: 75px;
  max-height: 100px;
  line-height: 100%;
  position: relative;
}
.clear-entry {
  color: #fff;
  font-family: 'Times New Roman', serif;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  margin: 20px 10px;
  float: left;
  cursor: pointer;
  line-height: 25px;
  text-align: center;
  font-size: 25px;
  border-radius: 100%;
  transition: all 0.2s ease-out;
}
.no-border {
  border: 2px solid transparent;
}
#result {
  margin: 25px 10px;
  text-align: right;
  color: #fff;
  float: right;
  height: 25px;
  line-height: 20px;
  max-width: 250px;
  text-overflow: clip;
  overflow: hidden;
}
[type="button"] {
  color: #fff;
  font-family: 'Helvetica', sans-serif;
  width: 70px;
  height: 60px;
  border: none;
  border-radius: 5px;
  margin: 3px 1px;
  font-size: 17px;
  transition: border 0.2s ease-out;
}
[type="button"]:hover, [type="button"]:focus,
.clear-entry:hover {
  border: 2px solid #0ff;
}
.clear-entry:hover {
  color: #0ff;
}
.memory-controls input {
  background: #099cc1;
}
.function, .operator {
  background: #3398aa;
}
.number {
  background: #2e87a8;
}
#plus {
  float: right;
  clear: both;
  height: 126px;
  margin-left: -4px;
  margin-right: 11px;
}
img {
  width: 50px;
  height: 50px;
}
@media screen and (min-width: 480px) {
  html, body {
    margin: 1em auto;
  }
}